/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100%;
    color: var(--preto-100, #464646);
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu__list {
    display: none;
}

nav {
    display: flex;
    align-items: center;
}

/*Sección Title*/

section.title {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.title__profile {
    width: 98px;
    height: 98px;
}

.title__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.title__bio {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.title__subsection {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.title__network {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    justify-content: space-between;
}

.title__network__item {
    display: flex;
    flex-direction: row;
}

/*Sección About*/

section.about {
    background: var(--azul-10, #EAF2FD);
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.about__paragraph {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

/*Sección Skills*/

section.skills {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box {
    display: flex;
    height: 86px;
    min-width: 124px;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    background: var(--preto-branco, #FFF);
}

/*Sección Hobbies*/

section.hobbies {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies__box {
    display: flex;
    height: 86px;
    min-width: 124px;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    background: var(--preto-branco, #FFF);
}

/* Formacion Académica*/

section.academic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--azul-10, #EAF2FD);
    padding: 32px;
    gap: 32px;
}

.academic__courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.academic__courses__item__img {
    display: flex;
    height: 118px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--preto-branco, #FFF);
}

.academic__courses__item__img img {
    width: 84px;
    height: 58px;
}

/* experiencia*/

section.experience {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.experience__box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.experience__img {
    width: 100%;
}

.experience__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.experience__title {
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-weight: 700;
}

.experience__text {
    color: var(--preto-100, #464646);
    font-size: 14px;
    font-weight: 500;
}

.experience__description {
    display: flex;
    gap: 16px;
}

.experiencia__botao--repo {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-100, #2A7AE4);
    color: var(--azul-100, #2A7AE4);
    font-size: 14px;
    font-weight: 600;
    font-family: Raleway;
}

.experience__botao--demo {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-100, #2A7AE4);
    color: var(--preto-branco, #FFF);
    background: var(--azul-100, #2A7AE4);
    font-size: 14px;
    font-weight: 600;
    font-family: Raleway;
}

/*Contacto*/

section.formcontato {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--azul-10, #EAF2FD);
}

.formcontato__contacto {
    width: 100%;
}

.formcontato--esquerda {
    display: none;
}

.formcontato__img {
    width: 100%;
}

.formcontato__text h3 {
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-weight: 500;
    padding-top: 8px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    padding-top: 32px;
}

.formcontato__form div {
    background: var(--preto-branco, #FFF);
    padding: 8px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-sizing: border-box;
    border-radius: 4px;
    border-bottom: 1px solid #C8C8C8;
}

.formcontato__form div label {
    color: var(--preto-50, #A2A2A2);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.formcontato__input {
    border-radius: 4px;
    border: none;
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#mensagem {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 12px;
    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    resize: none;
    border-radius: 4px;
    border-bottom: 1px solid #C8C8C8;
}

.form__asunto {
    padding: 12px 0px;
    color: var(--preto-50, #A2A2A2);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: none;
}

.formcontato__botao {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--azul-100, #2A7AE4);
    color: var(--preto-branco, #FFF);
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

/*footeer*/

section.footer {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--preto-branco, #FFF);
    color: var(--preto-100, #464646);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 426px) {

    /* Menú */
    section.menu {
        padding: 32px;
    }

    /*title*/
    section.title {
        padding: 32px;
    }

    .title__div {
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
    }

    /*Sección sobre mi*/
    section.about {
        padding: 32px;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .about__container img {
        width: 140px;
        height: 52px;
    }



    /*Skills*/
    section.skills {
        display: flex;
        padding: 32px;
    }

    .skills__line {
        display: flex;
        gap: 16px;
        justify-content: initial;
        width: 100%;

    }

    .skills__box {
        min-width: initial;
        width: calc((100% - (16px*8))/3)
    }

    /*Hobbies*/
    section.hobbies {
        display: flex;
        padding: 32px;
    }

    .hobbies__line {
        display: flex;
        gap: 16px;
        justify-content: initial;
        width: 100%;

    }

    .hobbies__box {
        min-width: initial;
        width: calc((100% - (16px*8))/3)
    }

    /*Formación Académica*/
    .academic__courses {
        display: flex;
        flex-direction: row;
    }

    .academic__courses__box {
        width: calc((100% - (16px*2))/3)
    }

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 768px) {

    /*Menu*/
    .menu {
        max-width: 1136px;
        margin: auto;
    }

    .menu__list {
        display: initial;
        display: flex;
        gap: 32px;
    }

    .menu__list__item__contato {
        display: none;
    }

    /*Titulo*/
    .title {
        max-width: 1136px;
        margin: auto;
    }

    .title__bio {
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
    }

    .title__subsection {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
    }

    .title__profile {
        width: 368px;
        height: 368px;
        flex-shrink: 0;
    }

    .title__container {
        justify-content: center;
        gap: 24px;
    }

    .title__network__item {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    /*Sección sobre mi*/
    section.about {
        padding-top: 64px;
        padding-bottom: 64px;

    }

    .about__container {
        width: 1136px;
    }

    .about__container p {
        max-width: 751px;
    }

    /*Skills*/
    section.skills {
        max-width: 1136px;
        margin: auto;
    }

    .skills__box {
        width: calc((100% - (16px*21))/6);
    }

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}